<!-- navbar -->
<app-navbar></app-navbar>
<!-- main content-->
<div class="content" role="main">

  <div fxLayout="column" fxFlex="true">
    <div fxLayout="row" fxLayoutAlign="space-between center">


      <!--      <div *ngIf="isShowTableState">-->
      <div fxFlex="60" fxFlex.xs="50">
        <div *ngIf="!isShowTableState">
          <mat-form-field fxFlex="60" fxFlex.xs="50">
            <input matInput [formControl]="SearchController" placeholder="Search Flight">
          </mat-form-field>
        </div>
        <div *ngIf="isShowTableState">
          <button (click)="backToTableView()" mat-mini-fab color="accent">
            <mat-icon>arrow_back</mat-icon>
          </button>
          Back To All Flights
        </div>
      </div>
      <div fxFlex="20" fxFlex.xs="45">
        <div *ngIf="!isShowTableState">
          <button class="add_btn" mat-raised-button color="primary" (click)="onAddFlightClick()">
            Add Flight
          </button>
        </div>

      </div>


    </div>


    <div *ngIf="isShowTableState  else addFlightTemplate">
      <!--     add from template    -->
      <app-add-flight (sendFlightData)="onSaveFlightData($event)"></app-add-flight>
    </div>

    <ng-template #addFlightTemplate>
      <!--   table show -->
      <app-data-table [tableConfig]="tableConfig"></app-data-table>
    </ng-template>
  </div>

</div>
<!--end main content-->

<!--extra template-->
<ng-template #AirlineName let-row>
  <p>{{row.AirlineName}}</p>
</ng-template>
<ng-template #AirlineLogoAddress let-row>
  <img
    [src]="row.AirlineLogoAddress" alt=""
  />
</ng-template>
